<a href="https://colab.research.google.com/github/sauravmitra9126/Assignments-Data-Structures-in-Python/blob/main/Assignments_Data_Structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to reverse a string

In [ ]:
txt = "Hello World" [:: -1]
print(txt)

dlroW olleH

2. Write a code to count the number of vowels in a string

In [ ]:
s = "Python Pragrammimg"
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
c = sum(1 for ch in s if ch in vowels)
print("Number of vowels" , c)

Number of vowels 4

3. Write a code to check if a given string is a palindrome or not

4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
s1 = input("Enter first string:")
s2 = input("Enter second string:")

if sorted(s1) == sorted(s2):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.")

Enter first string:s1
Enter second string:s2
The strings aren't anagrams.

In [ ]:
s1 = input("Enter first string:")
s2 = input("Enter second string:")

if sorted(s1) == sorted(s2):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.")

Enter first string:s1
Enter second string:s1
The strings are anagrams.

5. Write a code to find all occurrences of a given substring within another string

In [ ]:
def printIndex(str, s):

    flag = False
    for i in range(len(str)):
        if (str[i:i + len(s)] == s):

            print(i, end=" ")
            flag = True

    if (flag == False):
        print("NONE")

str1 = "GeeksforGeeks"
str2 = "Geeks"
printIndex(str1, str2)

0 8

6.Write a code to perform basic string compression using the counts of repeated characters

In [24]:
def compress(s):
    result = ''
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            result += s[i-1] + str(count)
            count = 1
    result += s[-1] + str(count)

    return result


print(compress("aabbccaaa"))

a2b2c2a3

7. Write a code to determine if a string has all unique characters

In [5]:
def has_all_unique_characters_no_extra_space(s):
    n = len(s)
    for i in range(n):
        for j in range(i + 1, n):
            if s[i] == s[j]:
                return False
    return True

# Example usage
print(has_all_unique_characters_no_extra_space("data"))
print(has_all_unique_characters_no_extra_space("python"))

False
True

8.Write a code to convert a given string to uppercase or lowercase

In [12]:
def convert_string_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

# Example usage
input_string = "Hello India"

print("Uppercase:", convert_string_case(input_string, to_upper=True))
print("Lowercase:", convert_string_case(input_string, to_upper=False))

Uppercase: HELLO INDIA
Lowercase: hello india

9. Write a code to count the number of words in a string

In [15]:
import re

def count_words(text):

    words = re.findall(r'\b\w+\b', text)
    return len(words)


input_string = "Hello, world! My Name is saurav mitra"
word_count = count_words(input_string)
print("Number of words:", word_count)

Number of words: 7

10. Write a code to concatenate two strings without using the + operator

In [17]:
def concatenate_strings(str1, str2):
    result = ''
    for ch in str1:
        result = result.__add__(ch)
    for ch in str2:
        result = result.__add__(ch)
    return result

# Example
print(concatenate_strings("Hello, ", "world!"))

Hello, world!

11. Write a code to remove all occurrences of a specific element from a list

In [19]:
def remove_occurrences(lst, target):
    return [x for x in lst if x != target]

# Example
numbers = [1, 2, 3, 2, 4, 2, 5, 8, 9]
print(remove_occurrences(numbers, 2))

[1, 3, 4, 5, 8, 9]

12. Implement a code to find the second largest number in a given list of integers

In [22]:
def second_largest(nums):
    nums = list(set(nums))
    nums.sort()
    return nums[-4] if len(nums) >= 4 else None

# Example
print(second_largest([5, 3, 9, 1, 9, 12]))

3

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [26]:
def reverse_list(lst):
    for i in range(len(lst) // 3):
        lst[i], lst[-i - 1] = lst[-i - 1], lst[i]


nums = [1, 2, 3, 4, 8]
reverse_list(nums)
print(nums)

[8, 2, 3, 4, 1]

15.  Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [27]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example
nums = [1, 2, 2, 3, 1, 4]
print(remove_duplicates(nums))

[1, 2, 3, 4]

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [29]:
def check_sorted(lst):
    return "Asemble" if lst == sorted(lst) else "Descp" if lst == sorted(lst, reverse=True) else "sorted"

print(check_sorted([1, 2, 3]))
print(check_sorted([3, 2, 1]))
print(check_sorted([1, 3, 2]))

Asemble
Descp
sorted

17. Write a code to merge two sorted lists into a single sorted list

In [30]:
def merge_sorted(a, e):
    return sorted(a + e)


print(merge_sorted([1, 2.5, 5], [2, 4, 6]))

[1, 2, 2.5, 4, 5, 6]

18.  Implement a code to find the intersection of two given lists

In [32]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 2, 6, 7, 8]

intersection = list(set(list1) & set(list2))

print("Intersection:", intersection)

Intersection: [2, 4]

19. Create a code to find the union of two lists without duplicates

In [36]:
list1 = [1, 2, 3, 6]
list2 = [3, 4, 5, 6]

union = list1 + [x for x in list2 if x not in list1]

print("Union:", union)

Union: [1, 2, 3, 6, 4, 5]

In [ ]:
21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [37]:
t1 = (1, 2, 3)
t2 = (2, 3, 4)
common = tuple(set(t1) & set(t2))
print(common)  # Output: (2, 3)

(2, 3)

In [ ]:
22.  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [38]:
s1 = set(map(int, input("Enter first set: ").split(',')))
s2 = set(map(int, input("Enter second set: ").split(',')))
print("Intersection:", s1 & s2)

Enter first set: 1,2,3,4
Enter second set: 3,4,5,6
Intersection: {3, 4}

In [ ]:
23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [42]:
def concat_tuples(t1, t2):
    return t1 + t2


a = (1, 2, 3)
b = (3, 4, 6)
result = concat_tuples(a, b)
print(result)

(1, 2, 3, 3, 4, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set&

In [46]:
# Example 1
set1 = {"cat", "dog", "bird"}
set2 = {"dog", "fish"}
print("Example 1 result:", set1 - set2)

# Example 2
set1 = {"red", "blue", "green"}
set2 = {"blue", "yellow"}
print("Example 2 result:", set1 - set2)

# Example 3
set1 = {"pen", "pencil", "eraser"}
set2 = {"eraser"}
print("Example 3 result:", set1 - set2)

Example 1 result: {'cat', 'bird'}
Example 2 result: {'green', 'red'}
Example 3 result: {'pen', 'pencil'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices&

In [48]:
def slice_tuple(tpl, start, end):
    return tpl[start:end]


original = (10, 20, 30, 40, 100)
result = slice_tuple(original, 1, 4)
print(result)

(20, 30, 40)

26. & Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [51]:
a = set(input("Set 1: "))
b = set(input("Set 2: "))
print("Union:", ''.join(sorted(a | b)))

Set 1: saurav
Set 2: mitra
Union: aimrstuv

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking&

In [58]:
def find_max_min(numbers: tuple) -> tuple:
    # Unpack the max and min values using tuple
    max_val, min_val = max(numbers), min(numbers)
    return max_val, min_val

# Example usage
nums = (5, 2, 9, 0, 7, 12)
maximum, minimum = find_max_min(nums)
print("Max:", maximum)
print("Min:", minimum)

Max: 12
Min: 0

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets&

In [59]:
a = {1, 2, 3}
b = {2, 3, 4}

print("Union:", a | b)
print("Intersection:", a & b)
print("Difference:", a - b)

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference: {1}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple&

In [61]:
def count_occurrences(t, elem):
    return t.count(elem)


print(count_occurrences((1, 2, 8, 2, 2), 2))

3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets&

In [63]:
set1 = set(input("Enter first set of strings (space-separated): ").split())
set2 = set(input("Enter second set of strings (space-separated): ").split())

print("Symmetric difference:", set1 ^ set2)

Enter first set of strings (space-separated): 1
Enter second set of strings (space-separated): 2
Symmetric difference: {'2', '1'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list&

In [66]:
def word_frequencies(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 8
    return freq


words = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(word_frequencies(words))

{'apple': 24, 'banana': 16, 'orange': 8}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together&

In [67]:
from collections import Counter

def merge_dicts(d1, d2):
    return dict(Counter(d1) + Counter(d2))


a = {'x': 1, 'y': 2}
b = {'y': 3, 'z': 4}
print(merge_dicts(a, b))

{'x': 1, 'y': 5, 'z': 4}

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order&

In [69]:
def sort_dict_by_value(d, descending=False):
    return dict(sorted(d.items(), key=lambda x: x[1], reverse=descending))

# Example
d = {'a': 51, 'b': 24, 'c': 18}
print(sort_dict_by_value(d))
print(sort_dict_by_value(d, True))

{'c': 18, 'b': 24, 'a': 51}
{'a': 51, 'b': 24, 'c': 18}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [70]:
def invert_dict(d):
    return {v: [k for k in d if d[k] == v] for v in set(d.values())}

# Example
print(invert_dict({'a': 1, 'b': 2, 'c': 1}))

{1: ['a', 'c'], 2: ['b']}